* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background: #fcdbdb;
}
header {
  text-align: center;
  margin-top: 40px;
}

.input {
  text-align: center;
  margin: 100px auto;
}

input[type="submit"] {
  padding: 15px 30px;
  background: #c2c2c2;
  border: none;
  border-radius: 1px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.input input[type="text"] {
  width: 600px;
  height: 55px;
  padding: 5px 10px;
  background: #c9b6b6;
  border: none;
  border-radius: 1px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.card {
  width: 50%;
  background: #bdb2b2;
  height: 90vh;
  margin: 50px auto;
  border-radius: 2px;
}

.close {
  float: right;
  margin-top: -2px;
  cursor: pointer;
  margin-right: 20px;
}

.card h1 {
  padding: 5px 0;
  text-align: center;
}

.card h3 {
  margin: 50px;
  font-size: 20px;
}
.card img {
  margin-left: 50px;
  margin-top: 0%;
}
